<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>ToDo App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>ToDo List</h1>
    <p id="current-date"></p> <!-- 現在の日時を表示 -->
    <p>Weather: {{ temperature }}°C, {{ weather }} (API Access Count: {{ api_access_count }})</p>
    <p>Location: <span id="location">{{ location }}</span></p>
    <form method="post" action="/add">
        <input type="text" name="task" placeholder="Add new task">
        <input type="submit" value="Add">
    </form>
    <ul>
        {% for todo in todos %}
        <li>
            <a href="/todo/{{ todo['ID'] }}">{{ todo['TASK'] }}</a> -
            <input type="checkbox" class="status-checkbox" data-id="{{ todo['ID'] }}"
                   {% if todo['STATUS'] == 'completed' %}checked{% endif %}>
            <button data-id="{{ todo['ID'] }}" onclick="moveItem(this, 'up')">⬆️</button>
            <button data-id="{{ todo['ID'] }}" onclick="moveItem(this, 'down')">⬇️</button> 
        </li>
        {% endfor %}
    </ul>

    <form action="/reset" method="get">
        <input type="submit" value="Reset All to Pending">
    </form>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>   
</html>
