<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>ToDo App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>ToDo List</h1>
    <form method="post" action="/add">
        <input type="text" name="task" placeholder="Add new task">
        <input type="submit" value="Add">
    </form>
    <ul>
        {% for todo in todos %}
        <li>
            <a href="/todo/{{ todo['ID'] }}">{{ todo['TASK'] }}</a> -
            <input type="checkbox" class="status-checkbox" data-id="{{ todo['ID'] }}"
                   {% if todo['STATUS'] == 'completed' %}checked{% endif %}>
            <button data-id="{{ todo['ID'] }}" onclick="moveItem(this, 'up')">⬆️</button>
            <button data-id="{{ todo['ID'] }}" onclick="moveItem(this, 'down')">⬇️</button> 
        </li>
        {% endfor %}
    </ul>

    <form action="/reset" method="get">
        <input type="submit" value="Reset All to Pending">
    </form>
    
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>   
</html>
